* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    box-sizing: border-box;
}

#head {
    margin-left: 35%;
    font-size: 44px;
    font-family: Lucida Calligraphy;
    font-weight: bold;
    margin-top: 3.5%;
}

nav ul {
    margin-left: 25%;
    display: inline-flex;
}

nav ul li {
    margin-top: 40px;
    list-style: none;
    text-decoration: none;
}

nav ul li a {
    padding: 2em;
    color: rgb(0, 102, 255);
}

a:hover {
    background-color: skyblue;
    color: #eee;
}

a:active {
    background-color: #4CAF50;
}


/* Here are css applied on footer section */

.footer {
    display: flex;
    background-color: #716D6D;
    padding: 10px;
}

form {
    font-family: Arial;
}

.title {
    color: #000000;
}

input[type=text],
input[type=submit] {
    width: 85%;
    padding: 12px;
    margin: 8px 8px 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    /* box-sizing: border-box; */
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    border: none;
}

input[type=submit]:hover {
    opacity: 0.8;
}

.quick_links .container h2 {
    text-align: center;
}

.quick_links .container span a {
    display: grid;
    text-decoration: none;
    color: white;
    padding: 12px;
    width: 80px;
    margin: auto;
}

.address .container span img {
    width: 40px;
    height: 40px;
}

.address .container span {
    padding: 10px;
    text-align: center;
}

.address .container h2 {
    text-align: center;
    color: #000000;
}

.address .container {
    display: grid;
    color: white;
}

.imagess {
    display: grid;
    width: 45px;
    height: 45px;
    padding: 5px;
    margin-left: 45px;
}

.box {
    width: 25%;
}