#head {
    margin-left: 35%;
    /* text-align: center; */
    font-size: 44px;
    font-family: Lucida Calligraphy;
    font-weight: bold;
    color: white;
    margin-top: 5%;
}

nav {
    /* color: blue; */
}

nav ul {
    /* float: right; */
    margin-left: 25%;
    display: inline-flex;
}

nav ul li {
    margin-top: 70px;
    list-style: none;
    /* color: #0509e2; */
    text-decoration: none;
}

nav ul li a {
    padding: 1em 2em 1em 2em;
    color: rgb(0, 102, 255);
}


/* Styles for responsiveness */

@media only screen and (max-width:920px) {
    #head {
        margin-left: 27%;
        font-size: 42px;
    }
    nav ul {
        margin-left: 15%;
        display: inline-flex;
    }
}

@media only screen and (max-width:768px) {
    #head {
        margin-left: 27%;
        /* text-align: center; */
        font-size: 34px;
        margin-top: 5%;
    }
    nav ul {
        /* float: right; */
        margin-left: 5%;
        display: inline-flex;
    }
}

@media only screen and (max-width:600px) {
    #head {
        margin-left: 27%;
        font-size: 22px;
    }
    nav ul li a {
        padding: 1em;
    }
    nav ul {
        margin-left: 2%;
        display: inline-flex;
    }
}